/* Add your custom css here */
.container.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    fill-opacity: 
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  .container.text-center {
    text-align: center;
  }
  
  .display-3.fw-bold {
    font-size: 3.5rem; 
  font-weight: 700;
  color: #111;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 
               0 2px 6px rgba(255, 255, 255, 0.15); 
  letter-spacing: 0.5px; 
  margin-bottom: 1rem; 
  }
  
  .lead.text-muted.fs-4 {
    font-size: 1.25rem;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2)
  }
  body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #0d1b2a, #ffffff); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
 